<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="H2H"
        android:supportsRtl="true"
        android:theme="@style/Theme.H2H"
        tools:targetApi="31">
        <activity
            android:name=".EditRiderDetails"
            android:exported="false" />
        <activity
            android:name=".EditAdminBookedConsignment"
            android:exported="false" />
        <activity
            android:name=".AdminBookConsignment"
            android:exported="false" />
        <activity
            android:name=".EditUserDetails"
            android:exported="false" />
        <activity
            android:name=".AdminEditConsignment"
            android:exported="false" />
        <activity
            android:name=".AdminAllConsignments"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.h2h.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ApproveRiders"
            android:exported="false" />
        <activity
            android:name=".AssignConsignments"
            android:exported="false" />
        <activity
            android:name=".ViewRiders"
            android:exported="false" />
        <activity
            android:name=".AdminHome"
            android:exported="false" />
        <activity
            android:name=".AdminCheck"
            android:exported="false" />
        <activity
            android:name=".RiderHome"
            android:exported="false" />
        <activity
            android:name=".RiderFirstLogin"
            android:exported="false"
            android:label="@string/title_activity_rider_first_login"
            android:theme="@style/Theme.H2H.NoActionBar" />
        <activity
            android:name=".RiderCheck"
            android:exported="false" />
        <activity
            android:name=".RegisterRider"
            android:exported="false" />
        <activity
            android:name=".SplashScreen2"
            android:exported="false" />
        <activity
            android:name=".Register3"
            android:exported="false" />
        <activity
            android:name=".ConsignmentBookedAnimation"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Register2"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>